In [ ]:
#1.Positive or Negative number
a=int(input("Enter"))
if a<0:
  print("Negative")
else:
  print("Positive")

Enter-9
Negative

In [ ]:
a = int(input("Enter number: "))
if a < 0:
    print(f"{a} is a negative number")
elif a > 0:
    print(f"{a} is a positive number")
else:
    print("zero is neither positive nor negative")

Enter number: -98
-98 is a negative number

In [ ]:
#2 Even Or Odd
a=int(input("Enter:"))
if a%2==0:
  print(f"{a} is even")
else:
  print("odd")

Enter:5
odd

In [ ]:
#3.Sum of First N Natural numbers
n=int(input("Enter:"))
sum=int((n*(n+1))/2)
print(f"{sum} is the answer")

Enter:6
21 is the answer

In [ ]:
#4.Sum of numbers in a given range
low_lm=int(input("enter:"))
upp_lm=int(input("enter:"))
sum=0
for i in range(low_lm,upp_lm+1):
  sum +=i
print(f"sum of number between {low_lm} and {upp_lm} is {sum} ")

enter:5
enter:9
sum of number between 5 and 9 is 35

In [ ]:
#5.Greatest of two numbers
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
if num1>num2:
  print(f"{num1} is greater than {num2}")
elif num2>num1:
  print(f"{num2} is greater than {num1}")
else:
  print("both are equal")

Enter num1:4
Enter num2:4
both are equal

In [ ]:
#6.Greatest of the Three numbers
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
num3=int(input("Enter num3:"))
if num1>num2>num3:
  print(f"{num1} is greater than all")
elif num1<num2>num3:
  print(f"{num2} is greater than all")
else:
  print(f"{num3} is greater than all")

Enter num1:1
Enter num2:2
Enter num3:3
3 is greater than all

In [ ]:
first = int(input("Enter first number: "))
second = int(input("Enter second number: "))
third = int(input("Enter third number: "))
a = [first, second, third]
print(f"{max(a)} is the greatest number")

Enter first number: 8
Enter second number: 6
Enter third number: 3
8 is the greatest number

In [ ]:
#7.Leap year or not
year=int(input("Enter: "))
if (year%4==0 and year%100!=0) or (year%100==0 and year%400==0):
  print(f"{year} is a leap year")
else:
   print(f"{year} is not a leap year")

Enter: 2005
2005 is not a leap year

In [ ]:
#8.Prime number
a=int(input("Enter value: "))
if a%1==0 or a%a==0:
  print(f"{a} is a prime number")
else:
  print(f"{a} is not a prime number")

Enter value: 26
26 is a prime number

In [ ]:
a = int(input("Enter number: "))
prime = False
for i in range(2, a):
    if a % i == 0:
        break
else:
    prime = True
print(f"{a} is a prime number") if prime else print(f"{a} is not a prime number")

Enter number: 9
9 is not a prime number

In [ ]:
a = int(input("Enter number: "))
if a<=1:
  print("num should be greater than one")
else:
  for i in range(2,a):
    if a%i==0:
      print("this is not a prime number")
      break
  else:
    print("this is a prime number")

Enter number: 2
this is a prime number

In [ ]:
#9.Prime number in a given range
low_lm=int(input("enter:"))
upp_lm=int(input("enter:"))
if low_lm<=1:
  print("low_lm should be greater than 1")
else:
  for a in range(low_lm,upp_lm+1):
    for i in range(2,a):
      if a%i==0:
        print(f"{a} is not a prime number")
        break
      else:
        print(f"{a} is a prime number")

enter:3
enter:9
3 is a prime number
4 is not a prime number
5 is a prime number
5 is a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 is not a prime number
9 is a prime number
9 is not a prime number

In [ ]:
#10.sum of digits
a=input("Enter Value: ")
sum=0
for i in a:
  sum += int(i)
print("sum is",sum)

Enter Value: 25
sum is 7

In [ ]:
a=input("Enter Value: ")
sum=0
for i in a:
  sum+=int(i)
print(sum)

Enter Value: 66
12

In [ ]:
#11 reverse of a number
a=input("Enter Value: ")
print(a[::-1])

Enter Value: 356
653

In [ ]:
#12 palindrome
a=input("Enter Value: ")
if a[::-1]==a:
  print(f"{a} is a palindrome")
else:
  print(f"{a} is not a palindrome")

Enter Value: 121
121 is a palindrome

In [ ]:
#13 Armstrong Number
a=input("Enter Value: ")
result=0
for i in a:
  result +=int(i)**len(a)
if result==int(a):
  print(f"{a} is a Armstrong Number")
else:
  print(f"{a} is not a Armstrong Number")

Enter Value: 153
153 is a Armstrong Number

In [ ]:
#14 Armstrong Numbers Between Two Intervals
a=input("Enter Value: ")
b=input("Enter Value: ")
for i in range(int(a),int(b)+1):
  result=0
  for j in str(i):
    result +=(int(j))**len(str(i))
    if result==int(i):
      print(f"{i} is a armstog number")
  #else:
    #print(f"{a} is not a armstrong number")

Enter Value: 1
Enter Value: 500
1 is a armstog number
2 is a armstog number
3 is a armstog number
4 is a armstog number
5 is a armstog number
6 is a armstog number
7 is a armstog number
8 is a armstog number
9 is a armstog number
153 is a armstog number
370 is a armstog number
370 is a armstog number
371 is a armstog number
407 is a armstog number

In [ ]:
#15 Fibonacci series
a=int(input("Enter Value: "))
k=[0,1]
for i in range(0,a-2):
  k.append(k[-2]+k[-1])
print(k)

Enter Value: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#16.Factorial of number
#a=int(input("Enter Value: "))
def fact(a):
  out=1
  for i in range(1,a+1):
    out=out*i
  print(out)
fact(8)

40320

In [ ]:
#17 Power of a Number
a=int(input("Base Value: "))
b=int(input("Power Value: "))
out=a**b
print(f"{a} power {b} is {out}")

Base Value: 5
Power Value: 2
5 power 2 is 25

In [ ]:
#18.Factors of number
a=int(input("Enter Value: "))
fact=[]
for i in range(1,a+1):
  if a%i==0:
    fact.append(i)
print(fact)

Enter Value: 16
[1, 2, 4, 8, 16]

In [ ]:
#19.Strong number
a=input("Enter Value: ")
import math
out1=0
for i in a:
  out1+=math.factorial(int(i))
if out1==int(a):
  print(f"The number {a} is strong number")
else:
  print(f"The number {a} is not a strong number")

Enter Value: 145
The number 145 is strong number

In [ ]:
#Strong number between two intervals
a=int(input("Enter Value: "))
b=int(input("Enter Value: "))
import math
for i in range(a,b+1):
  out1=0
  for j in str(i):
    out1+=math.factorial(int(j))
  if out1==int(i):
    print(f"The number {i} is strong number")
  #else:
    #print(f"The number {a} is not a strong number")

Enter Value: 1
Enter Value: 500
The number 1 is strong number
The number 2 is strong number
The number 145 is strong number

In [ ]:
#20.Perfect Number
a=int(input("Enter Value: "))
out=0
for i in range(1,a):
  if a%i==0:
    out+=i
  else:
    pass
if out==a:
  print(f"{a} is a perfect number")
else:
  print(f"{a} is not a perfect number")

Enter Value: 10
10 is not a perfect number

In [ ]:
#Perfect Number b/w two intervals
input1=input("enter the lower limit: ")
input2=input("enter the upper limit: ")
for i in range(int(input1),int(input2)+1):
  a=0
  for j in range(1,i):
    if i%j==0:
      a+=i
  if a==i:
    print(f"The number {i} is a perfect number")
  #else:
    #print(f"The number {i} is a perfect number")

enter the lower limit: 1
enter the upper limit: 30
The number 2 is a perfect number
The number 3 is a perfect number
The number 5 is a perfect number
The number 7 is a perfect number
The number 11 is a perfect number
The number 13 is a perfect number
The number 17 is a perfect number
The number 19 is a perfect number
The number 23 is a perfect number
The number 29 is a perfect number

In [ ]:
#21.Automorphic Number
a=int(input("Enter Value: "))
out=str(a*a)
if out[-2:]==str(a):
  print(f"{a} is a Automorphic Number")
else:
  print(f"{a} is not a Automorphic Number")

Enter Value: 70
70 is not a Automorphic Number

In [ ]:
#Automorphic Number b/w two Intervals
a=int(input("Enter Value: "))
b=int(input("Enter Value: "))
for i in range(a,b+1):
  out=str(i*i)
  if out[-2:]==str(i):
    print(f"{i} is a Automorphic Number")

Enter Value: 1
Enter Value: 10000
1 is a Automorphic Number
25 is a Automorphic Number
76 is a Automorphic Number

In [ ]:
k="6570635"
k[-2:]

'35'

In [ ]:
#22.Harshad number
a=input("Enter Value: ")
out=0
for i in a:
  out+=int(i)
k=int(a)/out 
print(k)

Enter Value: 408
34.0

In [ ]:
#24.Abundant Number
a=int(input("Enter Value: "))
out=0
for i in range(1,a):
  if a%i==0:
    out+=i
if out>a:
  print(f"{a} is a abundant number")   
else:
  print(f"{a} is not a abundant number")

Enter Value: 21
21 is not a abundant number

In [ ]:
56/12

4.666666666666667

In [ ]:
#25.Friendly pair
a=int(input("Enter Value: "))
b=int(input("Enter Value: "))
out1=0
out2=0
for i in range(1,a):
  if a%i==0:
    out1 += i
for j in range(1,b):
  if b%j==0:
    out2 += j
if out1==b and out2==a:
  print(f"{a} and {b} are amicable numbers.")
else:
  print(f"{a} and {b} are not amicable numbers.")

Enter Value: 2620
Enter Value: 2924
2620 and 2924 are amicable numbers

In [ ]:
# Multiplication table.
a=int(input("Enter Value: "))
for i in range(1,11):
  print(f"{a} x {i} = {a*i}")

Enter Value: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

#string

In [ ]:
1.#length function.
def lenth(a):
  count=0
  for i in a:
    if i==(" "):
      continue
    else:
      count+=1
  print(count)

In [ ]:
lenth("micheal jackson")

14

In [ ]:
#2.Toggle each character in a string
a=input("Enter Value: ")
out=""
for i in a:
  if i.isupper()==True:
    k=i.lower()
    out+=k
  else:
    k1=i.upper()
    out+=k1
print(out)

Enter Value: JoYsOn
jOySoN

In [ ]:
#3.Count the number of vowels in a string
a=input("Enter Value: ")
out=0
vowels=["a","e","i","o","u"]
for i in a:
  if i.lower() in vowels:
    out+=1
print(out)

Enter Value: joyson
2

In [ ]:
#4.Remove all characters from string except alphabets (*******)
a=input("Enter Value: ")
result=""
ascii_value = [i for i in range(65,91)] +  [i for i in range(97,123)] #to store a range of values in list.
for i in a:
  for j in ascii_value:
      if ord(i)==j:
        result+=i
print(result)

Enter Value: dgvh#$%345ghdvgbh
dgvhghdvgbh

In [ ]:
#5.Remove brackets from an algebraic expression
a=input("Enter Value: ")
b=("{","}","[","]","(",")")
result=""
for i in a:
  if i not in b:
    result+=i
print(result)

Enter Value: (s)
s

In [ ]:
#6.to count the sum of numbers in a string
a=input("Enter Value: ")
out=[]
for i in a:
  if i.isnumeric():
    out.append(int(i))
print(sum(out))

Enter Value: fgh567
18

In [ ]:
#7.frequency of characters in a string
a=input("Enter the sentence: ")
b=input("Enter the word: ")
print(a.count(b))

Enter the sentence: banana
Enter the word: a
3

In [ ]:
#8.pattern
a=input("Enter the sentence: ")
for i in range(1,int(a)+1):
  print("*"*i)

Enter the sentence: 5
*
**
***
****
*****

In [ ]:
#9. find non repeating characters in a string
a=input("enter the input: ")
out=""
for i in a:
  if a.count(i)==1:
    out+=i
print(out)

enter the input: joyson
jysn

In [ ]:
#10.pattern
input1=int(input("enter the input: "))
import numpy as np
a=[]
for i in range(1,input1+1):
  a.append(i)
b=np.median(a)
for j in range(int(b)):
   print('*' *j)
for k in range(int(b),0,-1):
   print('*' *k)

enter the input: 5

*
**
***
**
*

#Array

In [ ]:
#1.Second Smallest Element
size=int(input("Enter Value: "))
a=[int(input()) for _ in range(size)]
a.sort()
print("input: ", a)
a[1]

Enter Value: 4
1
2
9
6
input:  [1, 2, 6, 9]

2

In [ ]:
a = []
i, j = 3, 3
for _ in range(i):
    b = []
    for _ in range(j):
        b.append(int(input()))
    a.append(b)

1
2
3
4
5
6
7
8
9

In [ ]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
b=[3,5,7,9]
b.reverse()
print(b)

[9, 7, 5, 3]